body {
  margin: 1rem;
  font-family: sans-serif;
}

.btn.btn-link-active {
  background: #5764c6;
  border-color: #4452c0;
  color: #fff;
}

.product--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product--item {
  flex: 1;
  text-align: center;
}

.product--item  > figure {
  text-align: center;
}
